{% extends 'agvoybase.html.twig' %}

{% block main %}

<div class="container">
  <h1>Accueil</h1>
  <div class="container">
  		<h2>Nos Objectifs</h2>
  		<pre>
  		</pre>
  </div>
  <div class="container">
  		<h2>Actualités</h2>
  		<pre>
  		</pre>
  </div>
</div>

{% endblock %}